/*body{
	
	font-family: "Arial";
	
}

img{
	border: 0;
	padding: 0;
	margin: 0;
}

#main-container{
	padding: 100px;
	float: right;
	width: 50%
	
}

.left-container{
	min-height: 200px;
	background: #fff;
	margin-top: 20px;
	margin-top: 0px;
}

.salon-container{
	min-height: 200px;
	background: #2c3446;
	margin-top: 20px;
	margin-left: 320px;
	width: 50%;
	border: solid #DC381F 2px;
}*/